<div class="container flex flex-col items-center">
  <input
    type="text"
    placeholder="Search Character"
    class="input input-bordered w-full max-w-xs"
  />

  <span
    class="loading loading-spinner loading-lg"
    *ngIf="characters.isLoading; else showCharacters"
  ></span>

  <ng-template #showCharacters>
    <ng-container
      *ngIf="characters.data != undefined; else showEmptyList"
      class="flex flex-wrap justify-center gap-4"
    >
      <div
        class="card bg-base-100 w-96 shadow-2xl"
        *ngFor="let character of characters.data"
      >
        <figure>
          <img
            [src]="
              character.thumbnail.path + '.' + character.thumbnail.extension
            "
            [alt]="character.name + 'image'"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            {{ character.name }}
            <div class="badge badge-secondary">{{ character.id }}</div>
          </h2>
          <p>{{ character.description }}</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">{{ character.modified }}</div>
            <div class="badge badge-outline">
              <a [href]="character.resourceURI"> more info </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #showEmptyList>
    <span>Empty List</span>
  </ng-template>
</div>
